!!!
%html{:lang => I18n.locale}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => Rails.configuration.head_meta_description, :name => "description"}/
    %meta{:content => Rails.configuration.head_meta_author, :name => "author"}/
    = favicon_link_tag 'favicon.ico'
    %title= content_for?(:title) ? yield(:title) : Rails.configuration.default_title
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body{:role => "document", :'data-controller' => "#{controller.controller_path}", :'data-action' => "#{controller.action_name}"}
    = try_render('layouts/navigation', 'layouts/sancho/navigation')
    .container.theme-showcase{:role => "main"}
      = try_render('layouts/messages', 'layouts/sancho/messages')
      = yield
      = try_render('layouts/footer', 'layouts/sancho/footer')
    
