- content_for :title do
  = t('.title')

%ol.breadcrumb
  %li= link_to t('.index'), <%= plural_name %>_path
  %li.active= @<%= singular_name %>.name

.page-header.w-lead
  %p.lead= t(:<%= singular_name %>)
  %p.pull-right
    = link_to_edit(@<%= singular_name %>, edit_<%= singular_name %>_path(@<%= singular_name %>), :button => :norm, :glyphicon  => "edit")
    = link_to_destroy(@<%= singular_name %>, <%= singular_name %>_path(@<%= singular_name %>), :button => :norm, :glyphicon  => "remove-sign")
  %h1= @<%= singular_name %>.name

.row.record-detail
  .col-md-9
    .record-fields
      %dl.dl-horizontal
<% attributes.reject(&:password_digest?).each do |attribute| -%>      
        %dt= t('.<%= attribute.name %>')
        %dd= @<%= singular_name %>.<%= attribute.name %>
<% end -%>

      %dl.dl-horizontal.buttons
        %td
        %dd= link_to_index <%= class_name %>, <%= index_helper %>_path, :button => :norm

  .col-md-3
    = render :partial => "layouts/sancho/record_stamps", :locals => { :o => @<%= singular_name %> }
