= form_for @<%= singular_name %>, :html => {:class => 'form-horizontal', :role => 'form'} do |f|
  = error_notification(@<%= singular_name %>) if @<%= singular_name %>.errors.any?

<% attributes.each do |attribute| -%>
  .form-group
    = f.label :<%= attribute.name %>, class: 'col-sm-3 control-label'
    .col-sm-6
      = f.text_field :<%= attribute.name %>, class: 'form-control', placeholder: '<%= singular_name %> name', required: true
      
<% end -%>     

  .form-group
    .col-sm-offset-3.col-sm-9
      = f.submit nil, class: 'btn btn-primary'
      = link_to_back :button => :norm, :label => t(".cancel")